// main: ./wispers.less
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.wispers.sheet.character {
  margin: 1;

  .window-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .sidebar {
    width: 150px;
  }

  .header {
    height: 135px;
  }

  .main {
    display: flex;
    flex: 1;
  }

  .content {
    flex: 1;
  }

  .logo {
    background-image: url(assets/img/wispersSymbol.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .item-form {
    font-family: "Roboto", sans-serif;
  }
  .sheet-tabs {
    flex: 0;
  }
  .sheet-body,
  .sheet-body .tab,
  .sheet-body .tab .editor {
    height: 100%;
  }
  .tox .tox-editor-container {
    background: #fff;
  }
  .tox .tox-edit-area {
    padding: 0 8px;
  }
  .resource-label {
    font-weight: bold;
  }
  .window-resizable-handle {
    cursor: var(--cursor-grab);
  }
}
