// main: ./wispers.less
.die {
    color: #191813;
}

.noDie {
  background-image: url(assets/img/OneValueBorder.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.d4 {
  background-image: url(assets/img/d4.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.d6 {
  background-image: url(assets/img/d6.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.d8 {
  background-image: url(assets/img/d8.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.d10 {
  background-image: url(assets/img/d10.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.d12 {
  background-image: url(assets/img/d12.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.d20 {
  background-image: url(assets/img/d20.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
