// main: ./wispers.less
/* Global styles */
  .window-app {
    font-family: "Roboto", sans-serif;
  }

  .rollable:hover,
  .rollable:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }