.sidebar-container {
  min-height: 500px;
  max-height: 90%;
  border-image: url(assets/img/banner.png);
  border-image-slice: 21 18 52 fill;
  border-left-width: 18px;
  border-right-width: 18px;
  border-top-width: 21px;
  border-bottom-width: 52px;
  border-style: solid;
  margin-top: 3px;
}
