// main: ./wispers.less
//Div Box holding the body

.sidebar-container {
  width: 185px;
  min-height: 500px;
  max-height: 90%;
  border-image: url(assets/img/banner.png);
  border-image-slice: 21 18 52 fill;
  border-left-width: 18px;
  border-right-width: 18px;
  border-top-width: 21px;
  border-bottom-width: 52px;
  border-style: solid;
  margin-top: 3px;
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
}
.sidebar-tetra-whatever {
  // Rombusz a kép alatt
  height: 25px;
  width: 100%;
  margin-top: 160px;
  padding-left: 1px;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
}
.sidebar-saving-throws-first {
  width: 50px;
  height: 43px;
  text-align: center;
  padding-top: 2px;
  line-height: 16px;
}
.sidebar-saving-throws-second {
  margin-right: 35px;
}
.sidebar-saving-throws-middle {
  margin-top: 44px;
  margin-left: 40px;
}
.sidebar-resources-header {
  font-size: 11px;
}
.sidebar-resources-value {
  font-size: 21px;
  font-weight: bold;
}
.sidebar-filler-1 {
  height: 65px;
  width: 100%;
}
.sidebar-filler-2 {
  height: 20px;
  width: 100%;
}
.sidebar-filler-3 {
  height: 5px;
  width: 100%;
}

.sidebar-stat-container {
  top: 1rem;
  width: 9rem;
  height: 30rem;
  margin: 1em 5px 5px;
  padding: 0.75em 1em 1em 1em;
  position: relative;
  align-content: center;
}
.sidebar-stat-card {
  size: 80%;
  max-block-size: 80%;
  width: 100%;
  position: relative;
  border: #191813 solid;
  border-style: groove;
  border-radius: 5%;
  border-width: 1px;
  padding: 0.25em 0.25em 0.25em 0.25em;
  margin: 0.15em 0.15em 0.15em 0.15em;
}
.sidebar-stat-legend {
  transform: translatey(-50%);
  width: max-content;
  padding: 0 0.15em;
  font-size: 32px;
}
.sidebar-stat-box {
  width: 95px;
  max-width: 95px;
  height: 50px;
  max-height: 50px;
  padding-top: 3px;
  font-size: 28px;
  position: relative;
  top: 5px;
  text-align: center;
  align-self: center;
  border-width: 0px;
}
.sidebar-stat-text {
  position: relative;
  vertical-align: middle;
  text-align: center;
  align-items: center;
  top: 5px;
  right: 2px;
  font-size: 21px;
  font-weight: bold;
}
