@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v51/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWubEbWmT.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v51/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWuYjammT.ttf) format('truetype');
}
.wispers.sheet.character {
  resize: both;
  margin: 1;
  /* Bal oldali zöld sáv */
  /* Felső piros rész */
  /* Alsó kék rész */
  /* Styles limited to wispers sheets */
}
.wispers.sheet.character .window-content {
  display: grid;
  grid-template-columns: 15% 1px 1fr;
  grid-template-rows: 10% 1px 1fr;
  height: 100vh;
}
.wispers.sheet.character .sidebar {
  grid-column: 1;
  grid-row: 1 / span 3;
  background: #2ecc71;
}
.wispers.sheet.character .header {
  grid-column: 3;
  grid-row: 1;
  background: #ff1a1a;
}
.wispers.sheet.character .content {
  grid-column: 3;
  grid-row: 3;
  background: #1e97c6;
}
.wispers.sheet.character .logo {
  background-image: url(assets/img/wispersSymbol.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.wispers.sheet.character .character-image-container {
  width: 135px;
  height: 175px;
  position: relative;
  margin-left: 8px;
  margin-top: 10px;
  margin-bottom: 3px;
  border: 3px #e99d76 solid;
}
.wispers.sheet.character .character-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wispers.sheet.character .character-image-overlay {
  width: 135px;
  height: 210px;
  position: absolute;
  top: -3px;
  left: -3px;
  background-image: url(assets/img/imageBorder.png);
  pointer-events: none;
}
.wispers.sheet.character .item-form {
  font-family: "Roboto", sans-serif;
}
.wispers.sheet.character .sheet-header {
  grid-column: 3;
  grid-row: 1;
  background: #ff1a1a;
  color: #191813;
}
.wispers.sheet.character .sheet-tabs {
  flex: 0;
}
.wispers.sheet.character .sheet-body,
.wispers.sheet.character .sheet-body .tab,
.wispers.sheet.character .sheet-body .tab .editor {
  height: 100%;
  grid-area: body;
}
.wispers.sheet.character .tox .tox-editor-container {
  background: #fff;
}
.wispers.sheet.character .tox .tox-edit-area {
  padding: 0 8px;
}
.wispers.sheet.character .resource-label {
  font-weight: bold;
}
.wispers.sheet.character .window-resizable-handle {
  cursor: var(--cursor-grab);
}
.noDie {
  background-image: url(assets/img/OneValueBorder.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.d4 {
  background-image: url(assets/img/d4.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.d6 {
  background-image: url(assets/img/d6.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.d8 {
  background-image: url(assets/img/d8.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.d10 {
  background-image: url(assets/img/d10.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.d12 {
  background-image: url(assets/img/d12.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.d20 {
  background-image: url(assets/img/d20.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.menu-box .menu-container {
  width: 400px;
  height: 26px;
  position: relative;
}
.menu-box .menu-background {
  position: absolute;
  width: 435px;
  height: 21px;
  border-image: url(assets/img/BannerTop.png);
  border-image-slice: 2 2 fill;
  border-left-width: 4px;
  border-right-width: 4px;
  border-top-width: 3px;
  border-bottom-width: 3px;
  border-style: solid;
  z-index: 5;
  top: 3px;
}
.menu-box .menu-label {
  width: 120px;
  height: 21px;
  position: absolute;
  padding-left: 12px;
  padding-top: 5px;
  z-index: 8;
  font-size: 12px;
}
.menu-box .menu-icon {
  width: 35px;
  height: 35px;
  padding-top: 7px;
  position: absolute;
  z-index: 8;
  font-size: 16px;
  background-image: url(assets/img/OneValueBorderFilled.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: -2px;
  text-align: center;
  line-height: 0;
}
.menu-box .menu-setup {
  width: 35px;
  height: 35px;
  padding-top: 7px;
  position: absolute;
  z-index: 8;
  font-size: 16px;
  top: -2px;
  text-align: center;
  line-height: 0;
}
.menu-box .menu-tab {
  border: 0px;
}
.subMain {
  clear: both;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 3px 0;
  align-items: center;
  font-size: 20px;
}
.menu-hr-container {
  margin-left: 5px;
  margin-right: 5px;
}
.menu-hr {
  border: none;
  border-top: 2px solid #cb0101;
  border-bottom: 1px solid #d5412f;
}
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}
.rollable:hover,
.rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}
.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}
.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}
.flexshrink {
  flex: 0;
}
.flex-between {
  justify-content: space-between;
}
.flexlarge {
  flex: 2;
}
.align-left {
  justify-content: flex-start;
  text-align: left;
}
.align-right {
  justify-content: flex-end;
  text-align: right;
}
.align-center {
  justify-content: center;
  text-align: center;
}
.items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.items-header > * {
  font-size: 14px;
  text-align: center;
}
.items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}
.items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}
.items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}
.items-list .item-name h3,
.items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.items-list .item-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}
.items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.items-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}
.items-list .item:last-child {
  border-bottom: none;
}
.items-list .item .item-name {
  color: #191813;
}
.items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}
.item-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}
.effects .item .effect-source,
.effects .item .effect-duration,
.effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.effects .item .effect-controls {
  border: none;
}
.sidebar-container {
  width: 185px;
  min-height: 500px;
  max-height: 90%;
  border-image: url(assets/img/banner.png);
  border-image-slice: 21 18 52 fill;
  border-left-width: 18px;
  border-right-width: 18px;
  border-top-width: 21px;
  border-bottom-width: 52px;
  border-style: solid;
  margin-top: 3px;
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
}
.sidebar-tetra-whatever {
  height: 25px;
  width: 100%;
  margin-top: 160px;
  padding-left: 1px;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
}
.sidebar-saving-throws-first {
  width: 50px;
  height: 43px;
  text-align: center;
  padding-top: 2px;
  line-height: 16px;
}
.sidebar-saving-throws-second {
  margin-right: 35px;
}
.sidebar-saving-throws-middle {
  margin-top: 44px;
  margin-left: 40px;
}
.sidebar-resources-header {
  font-size: 11px;
}
.sidebar-resources-value {
  font-size: 21px;
  font-weight: bold;
}
.sidebar-filler-1 {
  height: 65px;
  width: 100%;
}
.sidebar-filler-2 {
  height: 20px;
  width: 100%;
}
.sidebar-filler-3 {
  height: 5px;
  width: 100%;
}
.sidebar-stat-container {
  top: 1rem;
  width: 9rem;
  height: 30rem;
  margin: 1em 5px 5px;
  padding: 0.75em 1em 1em 1em;
  position: relative;
  align-content: center;
}
.sidebar-stat-card {
  size: 80%;
  max-block-size: 80%;
  width: 100%;
  position: relative;
  border: #191813 solid;
  border-style: groove;
  border-radius: 5%;
  border-width: 1px;
  padding: 0.25em 0.25em 0.25em 0.25em;
  margin: 0.15em 0.15em 0.15em 0.15em;
}
.sidebar-stat-legend {
  transform: translatey(-50%);
  width: max-content;
  padding: 0 0.15em;
  font-size: 32px;
}
.sidebar-stat-box {
  width: 95px;
  max-width: 95px;
  height: 50px;
  max-height: 50px;
  padding-top: 3px;
  font-size: 28px;
  position: relative;
  top: 5px;
  text-align: center;
  align-self: center;
  border-width: 0px;
}
.sidebar-stat-text {
  position: relative;
  vertical-align: middle;
  text-align: center;
  align-items: center;
  top: 5px;
  right: 2px;
  font-size: 21px;
  font-weight: bold;
}
.character-input-full-width {
  width: 100%;
  margin-bottom: 5px;
}
.character-input-half-width {
  width: 50%;
  margin-bottom: 5px;
}
.character-input-label {
  font-size: 14px;
  line-height: 18px;
  padding-left: 8px;
}
.character-input-box {
  padding-left: 5px;
  padding-right: 8px;
}
.character-input-half {
  height: 24px;
}
.character-input-full {
  min-height: 70px;
  width: 100%;
}
